* {
  /* common */
  font-family: 'Caveat', cursive;
  /* elvish */
  font-family: 'Amiri', serif;
  /* dwarfish */
  font-family: 'Noto Sans Old Permic', sans-serif;
  /* orcish */
  font-family: 'Akatab', sans-serif;
  /* triton */
  font-family: 'Noto Sans Buginese', sans-serif;
  /* katar */
  font-family: 'Noto Nastaliq Urdu', serif;
  /* tiefling/demon */
  font-family: 'Noto Sans Old Persian', sans-serif;
  /* saurian */
  font-family: 'Ruwudu', serif;
  /* primordial */
  font-family: 'Noto Sans Cypro Minoan', sans-serif;
  /* celestial */
  font-family: 'Noto Sans Ogham', sans-serif;
  /* druid */
  font-family: 'Noto Sans Old Hungarian', sans-serif;
  /* warforged */
  font-family: 'Wavefont', cursive;
}
/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Akatab&family=Amiri&family=Caveat&family=Noto+Nastaliq+Urdu&family=Noto+Sans+Bamum&family=Noto+Sans+Buginese&family=Noto+Sans+Cypro+Minoan&family=Noto+Sans+Ogham&family=Noto+Sans+Old+Hungarian&family=Noto+Sans+Old+Permic&family=Noto+Sans+Old+Persian&family=Ruwudu&family=Wavefont:wght@100&display=swap');
</style> */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akatab&family=Amiri&family=Caveat&family=Noto+Nastaliq+Urdu&family=Noto+Sans+Bamum&family=Noto+Sans+Buginese&family=Noto+Sans+Cypro+Minoan&family=Noto+Sans+Ogham&family=Noto+Sans+Old+Hungarian&family=Noto+Sans+Old+Permic&family=Noto+Sans+Old+Persian&family=Ruwudu&family=Wavefont:wght@100&display=swap" rel="stylesheet"> */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
